<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory>
  <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
  <property name="hibernate.connection.url">jdbc:mysql://120.24.166.170:3306/ipcs</property>
  <property name="hibernate.connection.username">ipcs_admin</property>
  <property name="hibernate.connection.password">password</property>
  <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
  <property name="show_sql">true</property>
  <mapping resource="mapping/Person.hbm.xml"></mapping>
  <mapping resource="mapping/Role.hbm.xml"></mapping>
  <mapping resource="mapping/Contact.hbm.xml"></mapping>
  <mapping resource="mapping/PersonDetail.hbm.xml"></mapping>
  <mapping resource="mapping/SchoolType.hbm.xml"></mapping>
  <mapping resource="mapping/School.hbm.xml"></mapping>
  <mapping resource="mapping/Permission.hbm.xml"></mapping>
  <mapping resource="mapping/MessageType.hbm.xml"></mapping>
  <mapping resource="mapping/Message.hbm.xml"></mapping>
</session-factory>
</hibernate-configuration>