body {
    color: #4b4648;
    font-family: tahoma, arial, sans-serif;
    font-size: 14px;
}
.content {
    border: 1px solid #cac3c6;
    margin: 0 auto;
    padding: 20px;
    width: 260px;
}
h1 {
    color: #6d9fac;
    font-size: 22px;
    text-align: center;
}

ul
{
    list-style-type: none;
}

 .error {
     color: #ff0000;
 }

.errorblock {
    color: #000;
    background-color: #ffEEEE;
    border: 3px solid #ff0000;
    padding: 8px;
    margin: 16px;
}

.required:after {
    color: #d00;
    content: "*";
    margin-left: 8px;
}